<ng-container ngSwitch=""></ng-container>

<ng-container [ngSwitch]="this.currentPage">

    <app-ob-profile *ngSwitchCase="0"></app-ob-profile>
    <app-ob-education *ngSwitchCase="1"></app-ob-education>
    <app-ob-job *ngSwitchCase="2"></app-ob-job>
    <app-ob-living *ngSwitchCase="3"></app-ob-living>

</ng-container>

<app-button text="Weiter" (click)="btnClicked(1)"></app-button>
<app-button *ngIf="this.currentPage > 0" text="Zurück" (click)="btnClicked(-1)" [isPrimary]="false"></app-button>