<h1>Ausbildung</h1>

<div class="text-center grid gap-4 ">
    <app-selection (click)="this.state.state.university = false" [active]="!this.state.state.university">
        <img class="w-32 mx-auto" src="assets/hammer-nail.png">
        <h3>Lehre</h3>
        <h4>Startkapital: € 5.000,-</h4>
    </app-selection>

    <app-selection (click)="this.state.state.university = true" [active]="this.state.state.university">
        <img class="w-32 mx-auto" src="assets/education-owl-2.png">
        <h3>Studium</h3>
        <h4>Startkapital: € 1.000,-</h4>
    </app-selection>
</div>