<h1>Ausbildung</h1>

<div class="text-center grid gap-4 ">
    <app-selection (click)="this.state.state.university = false" [active]="!this.state.state.university">
        <img class="w-32 mx-auto" src="https://assets.streamlinehq.com/image/private/w_400,h_400,ar_1/f_auto/l_watermark_mnkze9/o_30/c_scale,w_181/fl_layer_apply,x_0,y_133/v1/icons/illustrations-duotone/factory/tools/hammer-nail-q2exo5nie7y7rkh0w65sf.png?_a=AJAMhWI0">
        <h3>Lehre</h3>
        <h4>Startkapital: € 5.000,-</h4>
    </app-selection>

    <app-selection (click)="this.state.state.university = true" [active]="this.state.state.university">
        <img class="w-32 mx-auto" src="https://assets.streamlinehq.com/image/private/w_400,h_400,ar_1/f_auto/l_watermark_mnkze9/o_30/c_scale,w_181/fl_layer_apply,x_0,y_133/v1/icons/illustrations-duotone/education/learning/education-owl-2-u439126bz0k55uisemnwkr.png?_a=AJAMhWI0">
        <h3>Studium</h3>
        <h4>Startkapital: € 0,-</h4>
    </app-selection>
</div>