<h1>Zusammenfassung</h1>

<div class="flex gap-4 items-center">
    <img class="w-32" src="https://assets.streamlinehq.com/image/private/w_400,h_400,ar_1/f_auto/l_watermark_mnkze9/o_30/c_scale,w_181/fl_layer_apply,x_0,y_133/v1/icons/illustrations-duotone/work/schedule-working-hours/work-presentation-time-6kd1vfk2qodnwjouwgk74.png?_a=AJAMhWI0" />

    <div>
        <h3>{{this.state.state.job?.name}}</h3>
        <h4>€ +{{this.state.state.job?.salary}},-</h4>
    </div>
</div>

<div class="flex gap-4 items-center">
    <img class="w-32" src="https://assets.streamlinehq.com/image/private/w_400,h_400,ar_1/f_auto/l_watermark_mnkze9/o_30/c_scale,w_181/fl_layer_apply,x_0,y_133/v1/icons/illustrations-duotone/furniture-objects/furnitures/book-shelf-slpy57g8k9pmufeluloin.png?_a=AJAMhWI0" />

    <div>
        <h3>{{this.state.state.apartment?.name}}</h3>
        <h4>€ -{{this.state.state.apartment?.rent}},-</h4>
    </div>
</div>

<div class="flex gap-4 items-center">
    <img class="w-32" src="https://assets.streamlinehq.com/image/private/w_400,h_400,ar_1/f_auto/l_watermark_mnkze9/o_30/c_scale,w_181/fl_layer_apply,x_0,y_133/v1/icons/illustrations-duotone/health/health-insurance/health-insurance-1-cj84s9ki9ui0byebuam9j4q.png?_a=AJAMhWI0" />

    <div>
        <h3>Versicherungen</h3>
        <h4>€ -XXX,-</h4>
    </div>
</div>

<div class="flex gap-4 items-center">
    <img class="w-32" src="https://assets.streamlinehq.com/image/private/w_400,h_400,ar_1/f_auto/l_watermark_mnkze9/o_30/c_scale,w_181/fl_layer_apply,x_0,y_133/v1/icons/illustrations-duotone/travel/trip/pin-on-map-hzmeqgno0s88rb6jon38u.png?_a=AJAMhWI0" />

    <div>
        <h3>Mobilität</h3>
        <h4>€ -XXX,-</h4>
    </div>
</div>

<div class="flex gap-4 items-center">
    <img class="w-32" src="https://assets.streamlinehq.com/image/private/w_400,h_400,ar_1/f_auto/l_watermark_mnkze9/o_30/c_scale,w_181/fl_layer_apply,x_0,y_133/v1/icons/illustrations-duotone/food/fruit-and-vegetables/cutting-veggie-w2jrni0khlfrvh91f8zjh.png?_a=AJAMhWI0" />

    <div>
        <h3>Lebensmittel (Fix)</h3>
        <h4>€ -380,-</h4>
    </div>
</div>

<h3 class="text-center my-5">Monatsbudget: € XXX,-</h3>