
<div class="h-[50vh] flex flex-col justify-center">
    <img src="assets/empty-wallet-1.png" class="w-1/2 mx-auto mt-4 mb-2">
    <h1 class="text-center text-5xl font-normal ">Game Over!</h1>
    <p class="text-center">Du hast dein Leben leider nicht so gut unter Kontrolle und musst zurück zu deinen Eltern ziehen. Vielleicht klappt's ja beim nächsten mal. </p>
</div>

<app-button routerLink="/summary" text="Zur Zusammenfassung"></app-button>
<app-button [isPrimary]="false" routerLink="/onboarding" text="Neuer Versuch"></app-button>